/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}

.store_form {
  fieldset {
    background: #d2b9d3;

    legend {
      padding: 0.2em 1em;
      background: #6a287e;
      color: white;
      font-family: sans-serif;
    }
  }
    
  form {
    label {
      display: block;
      float: left;
      margin-right: 0.1em;
      padding-top: 0.2em;
      width: 5em;
      text-align: right;
    }
    
    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none;
    }
  }
}

#banner {
  padding: 10px;
  border-bottom: 2px solid;
  background: #6a287e;
  color: #D1D0CE;
  text-align: center;
  font: small-caps 40px/40px "Monaco", sans-serif;
  
  img {
    float: left;
  }
}

#notice {
  margin-bottom: 2em;
  padding: 1em;
  border: 2px solid red;
  background-color: #f0f0f0;
  color: #000 !important;
  font: bold smaller sans-serif;
}

#columns {
  background: #7D0552;
  
  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #7D0552;
    
    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      color: white;
      font-size: smaller;

      table {
        margin-bottom: 10px;
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
      }
    }    

    ul { 
      padding: 0;
      li {
        list-style:none;
        a{ 
          color: #bfb;
          font-size: small;
        }
      }
    }
  }  
}
  
